.about_page{
    margin-top: 164px;
}

.about{
    background-color: var(--dark-gray);
    padding: 105px 0 90px 0;
    text-align: center;
    margin-bottom: 90px;
}
.about__heading{
    margin-bottom: 60px;
    position: relative;
    z-index: 999;

}
.about__description{
    max-width: max(65%, 400px);
    margin: 0 auto 90px auto;
}

.about__slider{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 34px;
}
.about__slider__content{
    position: relative;
    height: 270px;
}
.about__slider__content__item{
    position: absolute;
    width: 50%;
    height: auto;
    bottom: 50%;
    top: 50%;
    transform: translate(0, -50%);

}
.about__slider__content__item:nth-child(2n+1){
    left: calc(0px - 1.5vw);
    
}
.about__slider__content__item:nth-child(2n){
    right: calc(0px - 1.5vw);
}

.about__slider__button{
    margin: auto;
}
