.about_page{
    margin-top: 164px;
}

.about{
    background-color: var(--dark-gray);
    padding: 105px 0 90px 0;
    text-align: center;
    margin-bottom: 90px;
}
.about__heading{
    margin-bottom: 60px;
    position: relative;
    z-index: 999;

}
.about__description{
    max-width: max(65%, 400px);
    margin: 0 auto 90px auto;
}

.about__slider{
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr) 1fr;
    gap: 34px;
}
.about__slider__button{
    margin: auto;
}
