.about{
    background-color: var(--dark-gray);
    padding: 105px 0 90px 0;
    text-align: center;
    margin-top: 164px;
    margin-bottom: 90px;
}
.about__description{
    max-width: max(65%, 400px);
    margin: 0 auto 90px auto;
}
