.calculator{
    background-color: var(--dark-gray);
    padding: 90px 0;
    margin-bottom: 120px;
}
.calculator__heading{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
    z-index: 999;
}
.calculator__label{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 24px 0;
}
.calculator__input-group{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap:24px;
}
.calculator__button{
    border: 2px solid #303030;
    font-weight: bold;
    background-color: #262626;
    color: rgba(255, 255, 255, 50%);
    line-height: 40px;
    padding: 0 32px;
    border-radius: 30px;
    flex: 0 1 190px;
}
.calculator__button:hover, .calculator__button_active{
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--dark-gray);
}
.calculator__input{
    border: 2px solid #303030;
    background-color: #262626;
    color: rgba(255, 255, 255, 50%);
    line-height: 40px;
    padding: 0 32px;
    border-radius: 30px;
    text-align: center;
    
}
.calculator__input:focus{
    outline: none;
    border:2px solid var(--primary);
}
.calculator__summary{
    text-align: end;
    margin-top: 24px;
    padding-right: 64px;
}
.calculator__summary > span{
    display: inline-block;
    min-width: 3em;
    color: var(--primary);
    font-weight: bold;

}
