.header{
    height: 90px;
    border-bottom: 1px solid #fff;
}
.header__wrapper{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__logo{
    flex: 0 1 200px;
}
.header__logo__img{
    width: 100%;
    height: auto;
}
.header__navbar{
    display: flex;
    flex: 0 0 300px;
    flex-flow: row nowrap;
    justify-content: space-between;
}
@media screen and (max-width: 500px) {
    .header__wrapper{
        flex-flow: column nowrap;
        padding: 0 1rem;
    }
    .header__navbar{
        flex: 0 0 auto;
        justify-content: space-between;
        width: 100%;
    }
}