.hero{
    margin-top: 86px;
}
.hero__text-container{
    width: fit-content;
    margin: 0 auto;
}
.hero__heading{
    font-family: 'Roboto', sans-serif;
    letter-spacing: .1em;    
}
.hero__heading_bold{
    font-weight: bold;
    font-family: 'Helvetica', sans-serif;
}
.hero__button{
    display: block;
    width: 220px;
    height: 72px;
    margin: 40px auto 70px auto;
    background-color: var(--primary);
    color: var(--black);
    font-size: 18px;
    font-weight: bold;
    border-radius: 43px;
    border: none;
}