/* setup */
@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaNeueCyr-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root{
    --primary:#34C759;
    --black:#1A1A1A;
    --dark-gray:#252525;
    --light-gray:#737373
}
html{
    scroll-behavior: smooth;
    width: 100vw;
}
body{
    background: var(--black) url("../images/placeholder.png") no-repeat scroll top right;
    background-size: contain;
    color: #fff;
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-y: auto;
}

h1{
    font-size: 72px;
    font-weight: normal;
}
h4{
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.2em;
    padding-bottom: 105px;
    padding: 50px 0 50px;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
a.active, a:hover{
    color: var(--primary);
}
.heading{
    width: fit-content;
    margin: 0 auto;
    position: relative;
    margin-bottom: 60px;    
    z-index: 1;
}
.heading__title{
    text-align: center;
    z-index: 999;
}
.heading__background{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-weight: 900;
    font-size: min(100px, 15vw);
    letter-spacing: 0.2em;
    color: #303030;
    text-transform: uppercase;
}
.heading_border::after{
    display: block;
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
@media screen and (max-width: 525px) {
    h1{
        font-size: 15vw;
    }
}
