.popup{
    --width:max(30%, 330px);
    position: fixed;
    background-color: var(--dark-gray);
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    z-index: 999;
    padding: 4em max(2em, 4vw);
    transition: .5s ;
}
.popup_hidden{
    opacity: 0;
    pointer-events: none;
    top: -100vh;
}
.popup__header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.popup__close{
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}
.popup__close:hover{
    color: #ff5555;
}
.popup__label{
    font-size: 1.3em;
    margin-bottom: 1em;
}


.popup__input, .popup__select{
    width: var(--width);
    display: block;
    height: 45px;
    background-color: var(--dark-gray);
    border: 2px solid #303030;
    padding: 0 1.5em;
    border-radius: 30px;
    margin-bottom: 1em;
    color: #fff;
}
textarea.popup__input{
    padding: .5em 1.5em;
    min-height: 10em;
    resize: none;
}
.popup__inline{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: var(--width);
    gap: .5em;
    align-items: center;
    margin-bottom: 1em;
}
.popup__inline > .popup__input{
    flex: 1 0 auto;
    width: 0;
    text-align: center;
    margin: 0;

}
.popup__input_invalid{
    border-color: #ff5555;
}
.popup__group{
    background-color: rgb(31, 31, 31);
    padding: 1em;
    margin-bottom: 1em;
}
.popup__info{
    color: var(--light-gray);
    font-size: .8em;
}
.popup__link{
    color: var(--primary);
    font-weight: normal;
}
.popup__button{
    flex: 1 1 auto;
    border: none;
    font-weight: bold;
    background-color: var(--primary);
    color: #000;
    border-radius: 30px;
    height:40px;
    cursor: pointer;
}
.popup__button:hover{
    background-color: var(--dark-gray);
    border: 2px solid #303030;
    color: #fff;
}
.popup__button[type="submit"]{
    width: var(--width);
    height: 3em;
}
.popup__counter{
    width: 150px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 1em;
}       
.popup__number{
    flex: 1 1 auto;
    text-align: center;
}