.slider{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    max-height: 270px;
}
.slider__wrapper{
    width: 100%;
}
.slider__content{
    display: flex;
    width: fit-content;
    flex-flow: row nowrap;
    overflow: hidden;
    gap: 30px;
    scroll-behavior: smooth;

}
.slider__item{
    flex: 0 0 48%;
    width: 48%;
    object-fit: contain;
    max-width: 370px;
    height: auto;
}
.slider__button{
    width: 30%;
    height: auto;
    max-height: 99;
    margin: auto;
    vertical-align: middle
}
