.slider{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.slider__content{
    position: relative;
    height: 270px;
    display: flex;
    flex-direction: column;
}
.slider__page{
    position: absolute;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
    height: 100%;
    transition: 0.5s;
    left: 0;
    right: 0;
    /* margin: auto 0; */
}
.slider__page_hidden{
    opacity: 0;
}
.slider__item{
    /* flex: 0 1 45%; */
    width: 45%;
    margin: auto;
}
.slider__page:first-child{
    left: -150vw;
}

.slider__page:nth-child(n+3){
    left: 150vw;
}

.slider__button{
    width: 30%;
    height: auto;
    margin: auto;
}
