.slider{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    max-height: 270px;
}
.slider__wrapper{
    width: 100%;
    margin: 0 auto;
}
.slider__content{
    display: flex;
    width: fit-content;
    flex-flow: row nowrap;
    overflow: hidden;
    gap: 4%;
    scroll-behavior: smooth;

}
.slider__item{
    flex: 0 0 48%;
    width: 48%;
    object-fit: cover;
    max-width: 370px;
    height: auto;
}
.slider__button{
    width: 64px;
    height: auto;
    margin: auto;
    vertical-align: middle;
    border-radius: 50%;
}
.slider__button:hover{
    border: 2px solid var(--primary);
}
@media screen and (max-width:600px) {
    .slider__item{
        flex: 0 0 100%;
        width: 100%;
    }
    .slider__wrapper{
        width: 300px;
    }
}